body{
    background: rgb(34,193,195);
background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

  .checkBox{

    float: left;
    display: inline-block;
    margin-right: 1em;

  }

  .xBtn{

    
    float: right;
    color: brown;

  }

  .alert {

    
    text-align: center;

  }
